
*{
  margin: 0;
  text-align: center;
  font-family: "Calibri", sans-serif;
}

::-webkit-scrollbar{
    width: .5vw;
}

::-webkit-scrollbar-track{
    background: #252525;
}

::-webkit-scrollbar-thumb {
    background-color: black;

  }




nav{
  background-image: url(https://i.pinimg.com/originals/51/4f/3f/514f3fccb71047d780be491c435a79e1.gif);
  border: 2px solid rgba(100, 52, 255, 1.0);


  background-color: #252525;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2rem;
}

nav ul{
  display: flex;
  gap: 30px;
  list-style-type: none;
}



nav ul li .link{
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  transition: .3s;
  letter-spacing: 1.5px;

  position: relative;

}


nav ul li .link::before{
    content: ' ';
    position: absolute;
    top: 110%;
    left: 0;

    height: 3px;
    width: 0;
    border-radius: 5px;

    background-color: rgba(100, 52, 255, 1.0);
    transition: .3s;
}

.active{
  color: dimgray;
}


nav ul li .link:hover::before{
    width: 100%;
    background-color: rgba(100, 52, 255, 1.0);

}

.Content{
  padding-top: 95px;
  margin: 0 auto;

}

.Content .page-content img{
  height: 200px;
  min-width: 200px;
  max-width: 500px;

  border-radius: 10px;
  transition: .3s;

}

.Content .page-content img:hover{
  transform: translateY(-10px);
    
}




.Home{
  color: white;
  background-image: url(https://i.pinimg.com/originals/34/16/fc/3416fc4113b69a0bf1cc75a772c4b5c4.gif);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 95vh;
  min-width: 99vw;
  max-width: 100vw;
}



.About{
  color: white;
  background-image: url(https://i.redd.it/dxrvm1y92ax31.gif);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 95vh;
  min-width: 99vw;
  max-width: 100vw; 



}


.About .description{
  min-width: 200px;
  max-width: 350px;

  margin: 0 auto;
  padding: 10px;
  background-color: rgba(10, 0, 0, 0.7);



  border-radius: 10px;

}



.About .description .me{
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px;
  color: white;

  text-transform: uppercase;

}

.About .description .me img{
  height: 100px;
  width: 100px;
  border-radius: 100px;
  transition: .3s;

}

.About .description .me img:hover{
  box-shadow: 2px 20px 120px 3px white;
  transform: scale(1.8) translateX(-40px);
}



.About .description p{
  font-size: 1.2em;
  font-weight: bold;

  padding: 10px 0;
  text-align: justify;


  text-transform: uppercase;

}




.Contact{
  color: white;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/863930103154127.5f46acc8b77bb.gif);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 95vh;
  min-width: 99vw;
  max-width: 100vw;
}


.Contact form{
/*  border:1px solid white;*/
  width: 300px;
  margin: 0 auto;

}

.Contact form label{
  display: block;
  text-align: left;
  font-weight: bold;
  letter-spacing: 1.4px;
  margin: 4px 0;

}

.Contact form input{
  width: 97%;

  line-height: 30px;
  border-radius: 4px;

  text-align: left;

}


.Contact form button{
  background-color: forestgreen;
  font-size: 1.2em;
  padding: 5px 20px;
  border-color: transparent;
  border-radius: 4px;
  margin: 20px auto;
  width: 100%;
  transition: .3s;
}

form button:hover{
  transform: scaleY(1.2);
}





.NoPage{
  color: white;
  background-image: url(https://i.pinimg.com/originals/89/bb/06/89bb06251fb7401e094b1f6d71f3d3f4.gif);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 95vh;
  min-width: 99vw;
  max-width: 100vw;
}